@font-face {
  font-family: 'arial';
  font-style: normal;
  font-display: swap;
  src: url('../fonts/ArialMT.woff') format('woff');
}

@font-face {
  font-family: 'arial-bold';
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Arial-BoldMT.woff') format('woff');
}

@font-face {
  font-family: 'inter';
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Inter-Regular.woff') format('woff');
}

@font-face {
  font-family: 'inter-medium';
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Inter-Medium.woff') format('woff');
}

@font-face {
  font-family: 'inter-semiBold';
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Inter-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'inter-bold';
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Inter-Bold.woff') format('woff');
}

@font-face {
  font-family: 'inter-black';
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Inter-Black.woff') format('woff');
}