.header {
  padding: vw(32) 0;
  background-color: rgb(252, 253, 252);
  color: var(--dark-color);
}

.header__container {
  display: flex;
  align-items: center;
}

.logo {
  height: vw(30);
}

.header__title {
  font-size: vw(18);
  line-height: 126%;
  max-width: vw(190);
  margin: 0 0 0 vw(22);
  font-weight: 500;
}

.header__nav {
  margin-left: vw(270);
  margin-right: vw(420);
}

.header__nav-list {
  position: relative;
  display: flex;
}

.header__nav-list::after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  right: calc(100% - -17%) ;
  border-bottom: 2px solid var(--dark-color);
  width: vw(170);
  height: auto;
}

.header__nav-list::before {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% - -7%) ;
  border-bottom: 2px solid var(--dark-color);
  width: vw(370);
  height: auto;
}

.header__nav-items:not(:last-child) {
  margin-right: vw(90);
}

.header__nav-items {
  position: relative;
  transition: color .2s ease-in-out;
  &:hover {
    color: var(--brand);
    transition: color .2s ease-in-out;
  }
}

.header__nav-items::after {
  position: absolute;
  content: "";
  top: vw(1);
  left: vw(-42);
  width: vw(26);
  height: vw(26);
}

.header__nav-items_poster::after {
  background: url("../img/svg/header-icon1.svg") right center/cover no-repeat;
}

.header__nav-items_about::after {
  top: vw(-1);
  width: vw(32);
  height: vw(30);
  background: url("../img/svg/star.svg") right -1px top/cover no-repeat;
}

.header__nav-items_contacts::after {
  background: url("../img/svg/contacts.svg") right center/cover no-repeat;
}

.header__btn {
  margin-left: auto;
}

.header__btn {
  font-size: vw(22);
  border: none;
  padding-left: vw(40);
  cursor: pointer;
  background: transparent url("../img/svg/Component.svg") no-repeat left;
  transition: color .2s ease-in-out;
  &:hover {
    color: var(--brand);
    transition: color .2s ease-in-out;
  }
}

.menu {
  position: absolute;
	top: 0;
	bottom: 0;
  left: 0;
  right: 0;
	transition: opacity .2s ease-in-out;
  visibility: hidden;
  opacity: 0;
  background: #000 url("../img/png/logo-opacity.png") no-repeat left vw(280) top vw(150);
  background-size: vw(600) vw(400);
  padding-bottom: 140px;
  min-height: 100vh;  
  &:target {
    visibility: visible;
    opacity: 1;
    z-index: 10;
    overflow: auto;
    transform: translateY(0);
    transition: opacity .2s ease-in-out;
  }
  .cancel {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
  }
}

.menu__popup {
  margin: 0 auto 74px;
  padding-top: vw(168);
  border-top: none;
  border-bottom: none;
  max-width: vw(1060);
  position: relative;
  color: var(--white-color);
  font-size: vw(38);
}

.menu__close {
  top: vw(170);
  right: vw(80);
}

.popup-close {
  position: absolute;
  width: 44px;
  height: 44px;
  &:hover {
    &:hover svg  path {
      fill: var(--brand);
      stroke: var(--brand);
      transition: fill  .2s ease-in-out, stroke .2s ease-in-out;
    }
  }
}

.popup-close svg  path {
  transition: fill  .2s ease-in-out, stroke .2s ease-in-out;
}

.menu__list {
  max-width: vw(200);
  margin-left: auto;
}

.menu__items {
  margin-bottom: vw(22);
  transition: color .2s ease-in-out;
  &:hover {
    color: var(--brand);
    transition: color .2s ease-in-out;
  }
}

.menu__social-list {
  position: absolute;
  top: vw(600);
  right: vw(340);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 280px;
  width: 100%;
}

.menu__social-items {
  height: 100%;
  width: 100%;
}

.menu__social-items:not(:last-child) {
  margin-right: vw(20);
}

.menu__social-link {
  display: flex;
  height: 64px;
  width: 64px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid var(--white-color);
  transition: border-color .2s ease-in-out;
}

.menu__social-link:hover { 
  border-color: var(--brand);
  transition: border-color .2s ease-in-out;
}

.menu__social-link svg path { 
  transition: fill .2s ease-in-out;
}

.menu__social-link:hover svg path { 
  fill: var(--white-color);
  transition: fill .2s ease-in-out;
}
